---
layout : layouts/base.njk
---

		<!-- Header -->
        <header id="header">
            <div class="content">
                <h1>
                    <a href="{{ data.product }}"> {{ data.app_title }} </a> 
                </h1>
                <p>
                    Site de prezentare dezvoltat de <strong>WebsiteMarket</strong>
                </p>
                <ul class="actions">
                    <li><a href="/site.zip" class="button primary icon solid fa-download">Download</a></li>
                    <li><a href="https://websitemarket.ro/site-gratuit/" 
                           class="button icon solid fa-rocket">Site-uri Gratuite</a></li>
                </ul>
            </div>
            <div class="image phone">
                <div class="inner"><img src="images/screen.jpg" alt="" /></div>
            </div>
        </header>

		<!-- One -->
        <section id="one" class="wrapper style2 special">
            <header class="major">
                <h2>
                    Firma ta merita un site
                </h2>
                <p>
                    Coboara site-ul editeaza textele, pozele si urca fisierele pe un server.
                    <br />
                    Nu ai hosting? Acceseaza oferta <a href="{{ data.service }}">WebsiteMarket</a>
                </p>
            </header>
            <ul class="icons major">
                <li><span class="icon solid fa-code"><span class="label">Shoot</span></span></li>
                <li><span class="icon solid fa-sync"><span class="label">Process</span></span></li>
                <li><span class="icon solid fa-cloud"><span class="label">Upload</span></span></li>
                <li><span class="icon solid fa-rocket"><span class="label">Upload</span></span></li>
            </ul>
        </section>

		<!-- Two -->
        <section id="two" class="wrapper">
            <div class="inner alt">
                <section class="spotlight">
                    <div class="image"><img src="images/pic01.jpg" alt="" /></div>
                    <div class="content">
                        <h3>
                            <strong>
                                Servicii
                            </strong>
                        </h3>
                        <p>
                            Adauga in aceast sectiune o lista scurta cu serviciile pe care le oferi. 
                            Nu recomandam mult text, clientii te vor suna daca sunt interesati. 
                        </p>
                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="images/pic02.jpg" alt="" /></div>
                    <div class="content">
                        <h3>
                            <strong>
                                Portofoliu
                            </strong>    
                        </h3>
                        <p>
                            Prezinta cateva proiecte recente prin informatii simple si verificabile.
                            Increderea este foarte importanta in bussiness, ca si in general in viata.
                            <br />
                            Un portofoliu verificabil, iti va aduce viitorii clientii un pic mai aproape. 
                        </p>
                    </div>
                </section>
                <section class="spotlight">
                    <div class="image"><img src="images/pic03.jpg" alt="" /></div>
                    <div class="content">
                        <h3>
                            <strong>
                                Echipa ta
                            </strong>
                        </h3>
                        <p>
                            Transparenta, alta componenta importanta in orice business, se poate construi prin a spune ceva despre echipa ta.
                            Ai in echipa persoane care au o pregatire recunoscuta? Le poti aminti in aceasta sectiune. 
                        </p>
                    </div>
                </section>
                <section class="special">
                    <ul class="icons labeled">
                        <li><span class="icon solid fa-rocket"><span class="label">Livrare Rapida</span></span></li>
                        <li><span class="icon solid fa-sync"><span class="label">6luni Garantie</span></span></li>
                        <li><span class="icon solid fa-gift"><span class="label">Calitate</span></span></li>
                    </ul>
                </section>
            </div>
        </section>

		<!-- Three -->
        <section id="three" class="wrapper style2 special">
            <header class="major">

                <h2>
                    <a href="{{ data.product }}"> 
                        Site gratuit pentru Firma ta
                    </a> 
                </h2>
                <p>
                    Site de prezentare dezvoltat de <strong>WebsiteMarket</strong>
                </p>

            </header>
            <ul class="actions special">
                <li><a href="/site.zip" class="button primary icon solid fa-download">Download</a></li>
                <li><a href="https://websitemarket.ro/site-gratuit/" 
                        class="button icon solid fa-rocket">Site-uri Gratuite</a></li>
            </ul>
        </section>

